#pogrubienie_wieteska{
	font-size: 33px;
	color: #925CCC;
}

#pochylona_wieteska{
	font-size: 38pt;
	color: #F6C068;
}

#index_gorny_wieteska{
    font-size: 1.3cm;
	color: #A68E18;
}

#index_dolny_weieteska{
    font-size: 2.1cm;
	color: rgb(26%, 95%, 88%);
}

#mono_wieteska{
    font-size: 43px;
	color: #26DE68;
}

#powiekszenie_wieteska{
	color: #603E9A;
}


#pomniejszenie_wieteska{
	color: rgb(77%, 65%, 21%);
}
